{% extends 'base.html' %}

{% block body %}

  <div class="container">
    <h1>Comunidade Programadora</h1>
    <h4> Primeiro projeto para aprendizagem de desenvolvimento Web utilizando o flask. </h4>
    <hr>
    <h6 style="text-align: justify">
      Neste projeto lidamos com autenticação
      de usuário, login, perpetuação do login do usuário, sair da conta, incluir e excluir posts, manipulação de banco de dados
      utilizando o flask, redução de imagens e vários outros conceitos interessantes para a construção de um site e obtenção
      de um conhecimento inicial com o desenvolvimento web. Não é um site extremamente complexo que cobre todo
      o conhecimento de desenvolvimento web, mas tomei este projeto como conhecimento inicial.
    </h6>
    <hr>
    <h4>Para mais informações entre em contato por kayo.werter1@gmail.com ou por minhas <a href="https://kayo-werter.github.io/projeto-social/">redes sociais</a></h4>

  </div>

{% endblock %}
